{% if block.level == 1 %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell">
      {% endif %}

      {% set simpleTextClass = "" %}
      {%- for tag in block.frameworkTags %}
        {%- set simpleTextClass = simpleTextClass ~ ' ' ~ tag.title %}
      {% endfor -%}
      {% if simpleTextClass is defined and not null %}
        <div class="{{ simpleTextClass }}">
        {% endif %}
        {{ block.simpleText }}
        {% if simpleTextClass is defined and not null %}
        </div>
      {% endif %}

      {% if block.level == 1 %}
      </div>
    </div>
  </div>
{% endif %}