<div class="grid-x grid-margin-x margin-vertical-3">
  <div class="medium-9 cell">
    {% block mainContent %}{% endblock %}
  </div>
  <div class="medium-3 cell">
    {% block sideBar %}{% endblock %}
  </div>
</div>